{% extends 'include/base.html' %}

{% include 'include/head.html' %}

{% block custom_title %} <title> Sai Cab - Gallery </title> {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% block spinner %}
        {% include 'include/spinner.html' %}
    {% endblock spinner %}

    {% block topbar %}
        {% include 'include/topbar.html' %}
    {% endblock topbar %}

    {% block navigation %}
        {% include 'include/navbar.html' %}
    {% endblock navigation %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(https://media.istockphoto.com/id/519870714/photo/taxi.jpg?s=612x612&w=0&k=20&c=mzlqm5eisvu-B7hCyOK3LAsR4ugFTsHtC2kMWUmbA0Y=);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Gallery</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Gallery</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    
    {% include 'frontend/gallery.html' %}




    {% block footer %}
        {% include 'include/footer.html' %}
    {% endblock footer %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    // Spinner
    var spinner = function () {
        setTimeout(function () {
            if ($('#spinner').length > 0) {
                $('#spinner').removeClass('show');
            }
        }, 1);
    };
    spinner();
</script>

{% endblock javascripts %}


