{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

{% include 'include/head.html' %}
{% block custom_title %}<title> Base.html </title>{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

</head>

<body>

  {% block content %}
    {% block topbar %}{% endblock topbar %}
    {% block navigation %}{% endblock navigation %}
  
  {% endblock content %}

  {% include "include/scripts.html" %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}{% endblock javascripts %}

  <!-- CKEDITOR JS -->
  <script type="text/javascript">
    CKEDITOR.replace('headingname');
  </script>

</body>

</html>