{% load static %}
<!-- Footer Start -->
<div class="text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">About US</h4>
                <p>All the taxis available with us all regularly maintained and checked to ensure their efficacy is
                    maintained and their
                    performance is retained. Our fleets are equipped with all the modern features to provide maximum
                    comfort to our
                    customers.</p>

            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Services</h4>
                <a class="btn btn-link" href="frontend/service.html#intro" href="#intro">wedding</a>
                <a class="btn btn-link" href="frontend/service.html#intro2" href="#intro2">Prioritize Your Meetings</a>
                <a class="btn btn-link" href="frontend/service.html#intro3">Premium Cars</a>
                <a class="btn btn-link" href="frontend/service.html#intro4">Event Transportation Excellence</a>
                </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2">
                <div class="Address">
                    <i class="fa fa-map-marker-alt me-3"></i>
                    <span>Shyamal Vertix, Near Punjab Bank, Sadhu Vasvani Road, Rajkot, Gujarat 360005,
                        India</span>
                </div>

                <p class="mb-2">
                <div class="Address"><i class="fa fa-phone-alt me-3"></i>+91 73594 01111
                    <br>+91 99247 99647
                    </p>
                </div>
                <p class="mb-2 envelope"><i class="fa fa-envelope me-3"></i>saicab285@gmail.com</p>
                <div class="d-flex pt-2 ">
                    <a class="btn btn-outline-light btn-social" target=”_blank”
                        href="https://www.facebook.com/profile.php?id=100094512482538"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" target=”_blank”
                        href="https://twitter.com/Saicab11"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" target=”_blank”
                        href="https://www.instagram.com/sai_cabs_rajkot/?igshid=Y2IzZGU1MTFhOQ%3D%3D"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
</div>
<div class="footer-mid-wrap">
    <div class="running-taxi">
        <div class="taxi"></div>
        <div class="taxi-2"></div>
        <div class="taxi-3"></div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-start ">
                © Saicab Services All Right Reserved. Designed By <a href="https://quantumbot.in/"><u>QuantumBot</u></a>
            </div>
        </div>
    </div>
</div>


<!-- Back to Top -->
<div class="call-btn">
    <a href="tel:7359401111" class="btn btn-lg  btn-lg-square call-btn-1"><i class="bi bi-telephone"></i></a>
</div>
<div class="call-btn2">
    <a href="https://api.whatsapp.com/send?phone=+91 73594 01111&amp;text=Hello Saicab"
        class="btn btn-lg  btn-lg-square call-tn-1"><i class="bi bi-whatsapp"></i></a>
</div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>