<form id="localway" method="post" action="{% url 'form_localway' %}">
    {% csrf_token %}
    <div class="row g-3">
        {% comment %} <div class="col-12 col-sm-6">
            <input type="text" class="form-control"
                placeholder="Your Name" style="height: 55px;" name="yourname">
        </div>
        <div class="col-12 col-sm-6">
            <input type="text" class="form-control"
                placeholder="Your Email" style="height: 55px;" name="youremail">
        </div> {% endcomment %}
        <div class="col-12 col-sm-12">
            <input type="text" class="form-control"
                placeholder="Pickup Location" style="height: 55px;" name="yourlocation">
        </div>
        <div class="col-12">
            <select class="form-select" style="height: 55px;" name="hour">
                <option selected>4 Hour(s)</option >
                <option selected>8 Hour(s)</option>
                <option selected>12 Hour(s)</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-secondary w-100 py-3" type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight3"
                aria-controls="offcanvasRight">CHOOSE THE VEHICLE
                <i
                    class="fa fa-sharp fa-solid fa-arrow-right fa-2x fs-6 me-3"></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1"
                id="offcanvasRight3"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title"
                        id="offcanvasRightLabel">Offcanvas right</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-3 mb-3">
                            <div class="slctcarimg">
                                <img src="static/img/swift-dzire.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-3">
                            <div class="slctcartext">
                                <h3>Swift Dzire</h3>
                                <h2>₹13826.40</h2>
                                <button type="button"
                                    class="btn btn-primary getprice">SELECT</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-3 mb-3">
                            <div class="slctcarimg">
                                <img src="static/img/Ertiga.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-3">
                            <div class="slctcartext">
                                <h3>ERTIGA</h3>
                                <h2>₹19752.00</h2>
                                <button type="button"
                                    class="btn btn-primary getprice">SELECT</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-3 mb-5">
                            <div class="slctcarimg">
                                <img src="static/img/innova.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-3">
                            <div class="slctcartext">
                                <h3>INNOVA</h3>
                                <h2>₹19752.00</h2>
                                <button type="button"
                                    class="btn btn-primary getprice">SELECT</button>
                            </div>
                        </div>
                    </div>
                    <div class="summry">
                        <div class="summry-text mb-4">
                            <h2>Summary</h2>
                            <p>SERVICE TYPE</p>
                            <span>Hourly</span>
                            <hr>
                            <p>PICKUP LOCATION</p>
                            <span>Madhapar, Rajkot.</span>
                            <hr>

                            <p>PICKUP DATE, TIME</p>
                            <span>25-07-2023, 12:00 am</span>
                            <hr>
                            <p>TOTAL DISTANCE</p>
                            <span>767.7 km</span>
                            <hr>
                            <p>TOTAL TIME</p>
                            <span>14 h 54 m</span>

                        </div>
                        <div class="row">
                            <hr class="new4">
                            <div class="total-amount col-lg-6 col-md-3">

                                <h3>Total</h3>
                                <p class='totalprice'>₹0.00</p>
                            </div>

                        </div>
                        <div class="row mt-2 mb-5">

                            <div class="col-lg-10 col-md-3 ">
                                <button type="button"
                                    class="btn btn-primary p-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal37">
                                    Enter contact details<i
                                        class="fa fa-arrow-right ms-3"></i></a></button>

                                <div class="modal fade"
                                    id="exampleModal37" tabindex="-1"
                                    aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5"
                                                    data-wow-delay="0.6s">
                                                    <h1
                                                        class="text-white mb-4">
                                                        Book Cab</h1>
                                                    <form>
                                                        <div
                                                            class="row g-3">
                                                            <div
                                                                class="col-12 col-sm-6">
                                                                <input
                                                                    type="text"
                                                                    class="form-control border-0"
                                                                    placeholder="First Name"
                                                                    style="height: 55px;" name='firstname'>
                                                            </div>
                                                            <div
                                                                class="col-12 col-sm-6">
                                                                <input
                                                                    type="text"
                                                                    class="form-control border-0"
                                                                    placeholder="Last Name"
                                                                    style="height: 55px;" name='lastname'>
                                                            </div>
                                                            <div
                                                                class="col-12 col-sm-6">
                                                                <input
                                                                    type="text"
                                                                    class="form-control border-0"
                                                                    placeholder="Your Email"
                                                                    style="height: 55px;" name='youremail'>
                                                            </div>
                                                            <div
                                                                class="col-12 col-sm-6">
                                                                <input
                                                                    type="text"
                                                                    class="form-control border-0"
                                                                    placeholder="91+ Phone Number"
                                                                    style="height: 55px;">
                                                            </div>
                                                            <div
                                                                class="col-12 col-sm-12">
                                                                <input
                                                                    type="text"
                                                                    class="form-control border-0 py-5"
                                                                    placeholder="Comment"
                                                                    style="height: 55px;">
                                                            </div>
                                                            <div
                                                                class="col-12 col-sm-12 ">
                                                                <input
                                                                    type="text"
                                                                    class="form-control border-0 py-5 totalprice"
                                                                    placeholder="Comment"
                                                                    style="height: 55px;" name='total' >
                                                            </div>

                                                            <div
                                                                class="col-12 col-sm-3 online">
                                                                <img src="static/img/onlinepay.png"
                                                                    alt="">
                                                            </div>
                                                            <div
                                                                class="col-12 col-sm-9 online">
                                                                <div class="form-control online"
                                                                    style="height: 55px;">
                                                                    <h3>91+
                                                                        73594
                                                                        01111
                                                                    </h3>
                                                                </div>
                                                            </div>

                                                            <div
                                                                class="col-12">
                                                                <button
                                                                    class="btn btn-secondary w-100 py-3"
                                                                    type="submit">Book
                                                                    Now</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>