<!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"></i><img src="/static/img/sai-cab.png" alt="" class="logo"></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'Front End' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'aboutus' %}" class="nav-item nav-link">About-us</a>
                <a href="service.html" class="nav-item nav-link">Services</a>
                <a href="gallery.html" class="nav-item nav-link">Gallery</a>
                <a href="contact.html" class="btn btn-primary py-4 px-lg-5 ">Contact Us<i
                        class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->