<!-- Topbar Start -->
<div class="container-fluid bg-dark p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt me-2"></small>
                <small class="text-white">Shyamal Vertix, Near Punjab Bank, Sadhu Vasvani Road, Rajkot, Gujarat
                    360005, India</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt me-2"></small>
                <small class="text-white">+91 73594 01111 / +91 99247 99647</small>

            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square me-1 text-white " target="_blank"
                    href="https://www.facebook.com/profile.php?id=100094512482538"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square me-1 text-white" target="_blank" href="https://twitter.com/Saicab11"><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square  me-0 text-white" target="_blank"
                    href="https://instagram.com/sai_cabs_rajkot?igshid=Y2IzZGU1MTFhOQ=="><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->