{% for data in about_list  %}
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-50">
                    <div class="position-relative carrer2 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="static/img/aboutusimg.jpg"
                            style="object-fit: contain;" alt="">

                    </div>
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary text-uppercase">// About Us //</h6>
                    <h1 class="mb-4"><span class="text-primary">{{data.about_title|safe}}</span></h1>
                    <p class="mb-4">{{data.about_desc1|safe}}
                    </p>
                </div>
            </div>
            <p>
                {{data.about_desc2|safe}}
            </p>
        </div>
    <!-- About End -->


    <div class="timeline-container">
        <div id="timeline">
    
            <div class="timeline-item">
                <div class="timeline-icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                    <h2>Vision :</h2>
                    <p>
                    "{{data.vision|striptags|safe}}".

                    </p>
                    
                </div>
            </div>
    
            <div class="timeline-item">
                <div class="timeline-icon">
                    <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                </div>
                <div class="timeline-content right">
                    <h2>Mission :</h2>
                    <p>
                        "{{data.mission|striptags|safe}}".


                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}