<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sai cab services</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/meadia.css">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-map-marker-alt me-2"></small>
                    <small class="text-white">Shyamal Vertix, Near Punjab Bank, Sadhu Vasvani Road, Rajkot, Gujarat
                        360005, India</small>
                </div>
                <!-- <div class="h-100 d-inline-flex align-items-center py-3">
                        <small class="far fa-clock  me-2"></small>
                        <small class="text-white">Mon - Fri : 09.00 AM - 09.00 PM</small>
                    </div> -->
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt me-2"></small>
                    <small class="text-white">+91 73594 01111 / +91 99247 99647</small>

                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square me-1 text-white " target="_blank"
                        href="https://www.facebook.com/profile.php?id=100094512482538"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square me-1 text-white" target="_blank" href="https://twitter.com/Saicab11"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square  me-0 text-white" target="_blank"
                        href="https://instagram.com/sai_cabs_rajkot?igshid=Y2IzZGU1MTFhOQ=="><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->





    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"></i><img src="img/sai-cab.png" alt="" class="logo"></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about.html" class="nav-item nav-link">About-us</a>
                <a href="service.html" class="nav-item nav-link">Services</a>
                <a href="gallery.html" class="nav-item nav-link">Gallery</a>
                <a href="contact.html" class="btn btn-primary py-4 px-lg-5 ">Contact Us<i
                        class="fa fa-arrow-right ms-3"></i></a>
            </div>

        </div>
    </nav>
    <!-- Navbar End -->



    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(https://media.istockphoto.com/id/519870714/photo/taxi.jpg?s=612x612&w=0&k=20&c=mzlqm5eisvu-B7hCyOK3LAsR4ugFTsHtC2kMWUmbA0Y=);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->



    <!-- About Start -->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-50">
                    <div class="position-relative carrer2 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/aboutusimg.jpg"
                            style="object-fit: contain;" alt="">

                    </div>
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary text-uppercase">// About Us //</h6>
                    <h1 class="mb-4"><span class="text-primary">Guaranteed</span> Safe Journey</h1>
                    <p class="mb-4">All the taxis available with us all regularly maintained and checked to ensure
                        their
                        efficacy is maintained and their
                        performance is retained. Our fleets are equipped with all the modern features to <b>provide
                            maximum
                            comfort to our
                            customers.</b> We assure you of a safe, comfortable, and convenient journey with our
                        specialized
                        taxi service.
                    </p>
                    <p>
                        <b>At Sai Cab,</b> we understand the importance of affordability without compromising on
                        quality.
                        That's why we offer our
                        services at inexpensive and reasonable rates, ensuring that you can enjoy a luxurious
                        journey
                        without breaking the bank.
                    </p>


                </div>
            </div>
            <p>
                <b>So sit back, relax, and let our experienced </b>chauffeurs take care of your travel
                needs.
                Experience the ultimate in
                comfort, convenience, and peace of mind with Sai Cab. Book your ride today and make way for
                an
                unforgettable travel
                experience!

            </p>
            <p>ultimate travel experience with Sai Cab! Our team of highly trained and qualified chauffeurs is dedicated
                to providing
                you with the highest level of service, ensuring a smooth and enjoyable journey.</p>

            <p>Each of our chauffeurs undergoes a thorough verification process to guarantee their reliability and
                professionalism.
                They are licensed and possess extensive experience in the industry, allowing them to handle various
                travel situations
                with expertise and care.</p>

            <p>We prioritize your comfort and convenience, offering a range of luxurious vehicles to suit your needs
                and preferences.
                Whether you require a sedan for a business meeting, an SUV for a family outing, or a spacious van for
                group travel, we
                have got you covered.</p>

            <p>Taxis are a form of public transportation that provides on-demand transportation services to passengers.
                They are
                typically cars, vans, or other vehicles that are available for hire by the general public. Taxis are
                commonly found in
                urban areas and are often distinguished by their distinctive color, markings, or signage.</p>

            Here are some key points about taxis:

            <p>Hiring a Taxi: Taxis can be hailed on the street or hired from designated taxi stands or taxi ranks. In
                some cities,
                taxi services can also be accessed through smartphone apps or by calling a taxi company.</p>

            <p>Professional Drivers: Taxis are driven by professional drivers who are licensed to operate the vehicle.
                These drivers
                are knowledgeable about the local area and can navigate the city efficiently.</p>

            <p>Fare Calculation: Taxis usually charge fares based on a combination of distance traveled and time spent
                in the vehicle.
                They may have meters installed that calculate the fare automatically, or the fare may be negotiated in
                advance or based
                on a predetermined rate.</p>

            <p> Regulations: Taxis are subject to various regulations, which may vary by location. These regulations
                often cover aspects
                such as vehicle maintenance, driver background checks, fare structures, and licensing requirements.</p>

            <p>Convenience and Flexibility: Taxis offer convenience and flexibility by allowing passengers to travel
                directly from
                their location to their desired destination without the need for transfers or adhering to fixed
                schedules.</p>

            <p>Availability: Taxis are typically available 24/7, making them a reliable transportation option for
                people needing to
                travel at any time of the day or night.</p>

            <p>Ride-Sharing Services: In recent years, ride-sharing services such as Uber and Lyft have gained
                popularity as
                alternatives to traditional taxis. These services utilize smartphone apps to connect passengers with
                drivers using their
                own private vehicles.</p>

            <p> It's important to note that specific taxi services and regulations may vary from one city or country to
                another. It's
                always a good idea to familiarize yourself with the local rules and customs regarding taxi usage when
                traveling to a new
                location.
            </p>
        </div>
    <!-- About End -->


    <div class="timeline-container">
        <div id="timeline">
    
            <div class="timeline-item">
                <div class="timeline-icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                    <h2>Vision :</h2>
                    <p>
                    "To be the leading and most preferred taxi company, providing exceptional transportation services that exceed customer
                    expectations, revolutionizing the industry through innovation, and contributing to sustainable urban mobility".

                    </p>
                    
                </div>
            </div>
    
            <div class="timeline-item">
                <div class="timeline-icon">
                    <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                </div>
                <div class="timeline-content right">
                    <h2>Mission :</h2>
                    <p>
                        "Our mission is to provide safe, reliable, and convenient transportation services to our customers while prioritizing
                        their comfort and satisfaction. We strive to be the premier taxi company in our region, delivering exceptional service
                        that exceeds customer expectations".

                    </p>
                </div>
            </div>
        </div>
    </div>












    <!-- Footer Start -->
        <div class="bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <h4 class="text-light mb-4">About US</h4>
                        <p>All the taxis available with us all regularly maintained and checked to ensure their efficacy is
                            maintained and their
                            performance is retained. Our fleets are equipped with all the modern features to provide maximum
                            comfort to our
                            customers.</p>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h4 class="text-light mb-4">Services</h4>
                        <a class="btn btn-link" href="service.html#intro" href="#intro">wedding</a>
                        <a class="btn btn-link" href="service.html#intro2" href="#intro2">Prioritize Your Meetings</a>
                        <a class="btn btn-link" href="service.html#intro3">Premium Cars</a>
                        <a class="btn btn-link" href="service.html#intro4">Event Transportation Excellence</a>
                        </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="text-light mb-4">Address</h4>
                        <p class="mb-2">
                        <div class="Address">
                            <i class="fa fa-map-marker-alt me-3"></i>
                            <span>Shyamal Vertix, Near Punjab Bank, Sadhu Vasvani Road, Rajkot, Gujarat 360005,
                                India</span>
                        </div>

                        <p class="mb-2">
                        <div class="Address"><i class="fa fa-phone-alt me-3"></i>+91 73594 01111
                            <br>+91 99247 99647
                            </p>
                        </div>
                        <p class="mb-2 envelope"><i class="fa fa-envelope me-3"></i>saicab285@gmail.com</p>
                        <div class="d-flex pt-2 ">
                            <a class="btn btn-outline-light btn-social" target=”_blank”
                                href="https://www.facebook.com/profile.php?id=100094512482538"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" target=”_blank”
                                href="https://twitter.com/Saicab11"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" target=”_blank”
                                href="https://www.instagram.com/sai_cabs_rajkot/?igshid=Y2IzZGU1MTFhOQ%3D%3D"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>




        </div>
        <div class="footer-mid-wrap">
            <div class="running-taxi">
                <div class="taxi"></div>
                <div class="taxi-2"></div>
                <div class="taxi-3"></div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center text-md-start ">
                        © Saicab Services All Right Reserved. Designed By <a href="https://quantumbot.in/"><u>QuantumBot</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<body>



    <!-- Footer End -->


    <div class="call-btn">
        <a href="tel:7359401111" class="btn btn-lg  btn-lg-square call-btn-1"><i class="bi bi-telephone"></i></a>
    </div>
  <div class="call-btn2">
             <a href="https://api.whatsapp.com/send?phone=+91 73594 01111&amp;text=Hello Saicab" class="btn btn-lg  btn-lg-square call-tn-1"><i class="bi bi-whatsapp"></i></a>
        </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

 


<script>
   
    $(function () {
        var timelineBlocks = $('.timeline-item'),
            offset = 0.8;

        //hide timeline blocks which are outside the viewport
        hideBlocks(timelineBlocks, offset);

        //on scolling, show/animate timeline blocks when entering the viewport
        $(window).on('scroll', function () {
            (!window.requestAnimationFrame)
                ? setTimeout(function () { showBlocks(timelineBlocks, offset); }, 100)
                : window.requestAnimationFrame(function () { showBlocks(timelineBlocks, offset); });
        });

        function hideBlocks(blocks, offset) {
            blocks.each(function () {
                ($(this).offset().top > $(window).scrollTop() + $(window).height() * offset) && $(this).find('.timeline-icon, .timeline-content').addClass('is-hidden');
            });
        }

        function showBlocks(blocks, offset) {
            blocks.each(function () {
                ($(this).offset().top <= $(window).scrollTop() + $(window).height() * offset && $(this).find('.timeline-icon').hasClass('is-hidden')) && $(this).find('.timeline-icon, .timeline-content').removeClass('is-hidden').addClass('animate-it');

            });
        }
    });

</script>


</body>

</html>