    <!-- Contact start -->
    <div class="contact-from-section">
        {% for data in contact_data %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div id="form_status"></div>
                    <div class="contact-form">
                        <form method="POST" id="fruitkha-contact" action="{% url 'contact_form_details'%}">
                            {% csrf_token %}
                            <p>
                                <input type="text" placeholder="Name" name="name" id="name">
                                <input type="email" placeholder="Email" name="email" id="email">
                            </p>
                            <p>
                                <input type="tel" placeholder="Phone" name="phone" id="phone">
                                <input type="text" placeholder="Subject" name="subject" id="subject">
                            </p>
                            <p><textarea name="message" id="message" cols="30" rows="10"
                                    placeholder="Message"></textarea>
                            </p>
                            <input type="hidden" name="token" value="FsWga4&@f6aw" />
                            <div class="col-3 mb-5">
                                <button class=" btn btn-primary py-3" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-form-wrap">
                        <div class="contact-form-box">
                            <h4><i class="fa fa-map-pin"></i>Address</h4>
                            <p>{{ data.contact_Address|safe }}</p>
                        </div>
                        <div class="contact-form-box">
                            <h4><i class="fa fa-sharp fa-solid fa-envelope"></i>Email</h4>
                            <p>{{ data.contact_Email }}</p>
                        </div>
                        <div class="contact-form-box">
                            <h4><i class="fas fa-address-book"></i> Contact</h4>
                            <p> +91 {{ data.contact_Mobile }} <br> +91 99247 99647</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-12 wow fadeIn" data-wow-delay="0.1s">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.686441175898!2d70.7586276743946!3d22.289864579694036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959cbd4377055bf%3A0xb1553412aea72b2b!2sSadhu%20Vasvani%20Rd%2C%20Janak%20Puri%2C%20Yogi%20Nagar%2C%20Rajkot%2C%20Gujarat%20360005!5e0!3m2!1sen!2sin!4v1688647004208!5m2!1sen!2sin"
                width="100%" height="450" style="padding: 0; margin: 0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>




    <div class="call-btn">
        <a href="tel:7359401111" class="btn btn-lg  btn-lg-square call-btn-1"><i class="bi bi-telephone"></i></a>
    </div>
    <div class="call-btn2">
             <a href="https://api.whatsapp.com/send?phone=+91 73594 01111&amp;text=Hello Saicab" class="btn btn-lg  btn-lg-square call-tn-1"><i class="bi bi-whatsapp"></i></a>
        </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

