{% load static %}


    <div class="wrapper1">
        {% for data in gallery_data %}
            <div class="cards wow fadeInUp" data-wow-delay="0.1s">
                <input type="checkbox" id="card10" class="more">
                <div class="content">
                    <div class="front" style="background-image: url('{{ data.gallery_image.url }}')">
                        <div class="inner">
                            <h2>{{ data.city }}</h2>
                            <div class="rating">
                            </div>
                            <label for="card10" class="button" aria-hidden="true">
                                Details
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">

                            <div class="description">
                                <h4>DESTINATION COVERED BY SAI CAB</h4>
                                <p> {{ data.description }}</p>
                            </div>
                            <label for="card10" class="button return" aria-hidden="true">
                                <i class="fas fa-arrow-left"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- Back to Top -->
<div class="call-btn">
    <a href="tel:7359401111" class="btn btn-lg  btn-lg-square call-btn-1"><i class="bi bi-telephone"></i></a>
</div>
<div class="call-btn2">
             <a href="https://api.whatsapp.com/send?phone=+91 73594 01111&amp;text=Hello Saicab" class="btn btn-lg  btn-lg-square call-tn-1"><i class="bi bi-whatsapp"></i></a>
        </div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
