
{% load static %}

{% for data in service_data%}

{% if forloop.counter|divisibleby:2 %}
<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" data-aos="fade-down"
     data-aos-duration="1000">
                <div class="image-frame">
                    <img src={{ data.service_image.url }}>
                </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="fade-up"
     data-aos-duration="1000">
                    <div class="image-text">
                    <h2>{{ data.service_Name }}</h2>
                    <p>{{ data.service_Description}}</p>
                    </div>
                </div>
        </div>
    </div>
</div>
{% else %}
<div id="intro2" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" data-aos="fade-up"
     data-aos-duration="1000">
                <div class="image-text2" >
                <h2>{{ data.service_Name }}</h2>
                <p>{{ data.service_Description}}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6" data-aos="fade-down"
     data-aos-duration="1000">
                <div  class="image-frame">
                    <img style="max-width: 500px" src={{ data.service_image.url }}>
                </div>
            </div>

        </div>
    </div>
</div>
{% endif %}
{% endfor %}
    
    
    <!-- Back to Top -->
<div class="call-btn">
    <a href="tel:7359401111" class="btn btn-lg  btn-lg-square call-btn-1"><i class="bi bi-telephone"></i></a>
</div>
<div class="call-btn2">
             <a href="https://api.whatsapp.com/send?phone=+91 73594 01111&amp;text=Hello Saicab" class="btn btn-lg  btn-lg-square call-tn-1"><i class="bi bi-whatsapp"></i></a>
        </div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>