{% extends 'dash/templates/layouts/base.html' %}

{% block title %} Cars {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .messages-container {
      position: fixed;
      top: 10px;
      z-index: 9999;
    }
  
    .messages div {
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 4px;
      color: #fff;
      font-size: 16px;
      {% comment %} list-style: none; {% endcomment %}
    }
  
    /* Style the success message with a green background */
    .messages div.success {
      background-color: #5cb85c;
    }
  </style>
  
{% endblock stylesheets %}



{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center justify-content-between">
                                    <h3 class="h2 text-warning"> Cars </h3>
                                    <button type="button" class="btn btn-warning" data-toggle="modal"
                                        data-target="#exampleModalLong">Add Cars</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Car List</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th style="text-align: center;" scope="col">Sr.No</th>
                                <th style="text-align: center;" scope="col">Car Name</th>
                                <th style="text-align: center;" scope="col">Seating Capacity</th>
                                <th style="text-align: center;" scope="col">Rate Per KM</th>
                                <th style="text-align: center;" scope="col">Min. Range in KMs</th>
                                <th style="text-align: center;" scope="col">Driver Allowance</th>
                                <th style="text-align: center;" scope="col">Car Image</th>
                                <th style="text-align: center;" scope="col">Update</th>
                                <th style="text-align: center;" scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for data in page_obj%}
                                <td style="text-align: center;"  scope="row">
                                    {{ forloop.counter|add:page_obj.start_index|add:"-1" }}
                                </td>
                                <td scope="row" style="text-align: center;">
                                    {{data.car_name}}
                                </td>
                                <td scope="row" style="text-align: center;">
                                    {{data.seating_capacity}}
                                </td>
                                <td scope="row" style="text-align: center;">
                                    {{data.rate_par_km}}
                                </td>
                                <td scope="row" style="text-align: center;">
                                    {{data.min_range}}
                                </td>
                                <td scope="row" style="text-align: center;">
                                    {{data.driver_allowance}}
                                </td>
                                {% if data.car_image %}
                                    <td scope="row" style="text-align: center;">
                                        <img src="{{ data.car_image.url }}" alt="Image" style="width: 150px; height: 100px; border: 1px solid black;">
                                    </td>
                                {% else %}
                                    <td scope="row" style="text-align: center;">
                                        <!-- Add your fallback content here -->
                                        No Image Available
                                    </td>
                                {% endif %}

                                <td scope="row" style="text-align: center;">
                                    <button type="button" class="btn w-md btn-warning"
                                        data-toggle="modal" data-target="#Update{{ data.id }}">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                                </td>

                                <td scope="row" style="text-align: center;">
                                    <a href="DeleteCar/{{ data.id }}"
                                        onclick="return confirm('Are You Sure,You want to delete this data?');"
                                        class="btn w-md btn-warning"><i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}


                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                <div{% if message %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}

                        </tbody>
                    </table>


                    <!-- Pagination links -->
                    <div class="pagination flex-column flex-column">
                        <span class="step-links d-flex justify-content-between ">
                            <div>
                                {% if page_obj.has_previous %}
                                    <a class='mx-2' href="?page=1">&laquo; first</a>
                                    <a class='mx-2' href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                            </div>

                            <div class="align-item-center">
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>

                                <span class="current">
                                    Total {{ page_obj.paginator.count }}.
                                    
                                </span>

                            </div>

                            <div>
                                {% if page_obj.has_next %}
                                    <a class='mx-2' href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a class='mx-2' href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Start -->
    <!-- Add Model Start -->
    <div class="modal fade" id="exampleModalLong">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Car</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        <div class="form-group">


                            <label for="recipient-name" class="col-form-label">Car Name</label>
                            <input type="text" class="form-control" id="carName_ID" required
                            name="carName_name" /><br />

                            <label for="headingname21" class="col-form-label">Seating Capacity</label>
                            <input type="number" class="form-control" id="seatingCapacity_ID" required
                            name="seatingCapacity_name" /><br />

                            <label for="headingname21" class="col-form-label">Rate Per KM</label>
                            <input type="number" class="form-control" id="carRate_ID" required
                            name="carRate_name" /><br />

                            <label for="headingname21" class="col-form-label">Min. Range In KMs</label>
                            <input type="number" class="form-control" id="carRange_ID" required
                            name="carRange_name" /><br />

                            <label for="headingname21" class="col-form-label">Driver Allowance</label>
                            <input type="number" class="form-control" id="driverAllowance_ID" required
                            name="driverAllowance_name" /><br />
                            
                            <label for="image" class="col-form-label">Car Image</label>
                            <input type="file" class="form-control" id="carImage_ID" name="carImage_name" /><br />

                            <div class="modal-footer" style="margin-bottom: -36px; margin-right: -24px">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    
     <!-- Update Model Start -->
     {% for data in car_data %}
     <div class="modal fade bd-example-modal-lg" id="Update{{ data.id }}">
         <div class="modal-dialog modal-lg" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Update Rides</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <form method="post" action="carupdate/{{ data.id }}" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="form-group">

                            <label for="recipient-name" class="col-form-label">Car Name</label>
                            <input type="text" class="form-control" id="carName_ID" required
                            name="updatecarName_name" value="{{data.car_name}}"/><br />

                            <label for="headingname21" class="col-form-label">Seating Capacity</label>
                            <input type="number" class="form-control" id="seatingCapacity_ID" required
                            name="updateseatingCapacity_name" value="{{data.seating_capacity}}"/><br />

                            <label for="headingname21" class="col-form-label">Rate Per KM</label>
                            <input type="number" class="form-control" id="carRate_ID" required
                            name="updatecarRate_name" value="{{data.rate_par_km}}"/><br />

                            <label for="headingname21" class="col-form-label">Min. Range In KMs</label>
                            <input type="number" class="form-control" id="carRange_ID" required
                            name="updatecarRange_name" value="{{data.min_range}}"/><br />

                            <label for="headingname21" class="col-form-label">Driver Allowance</label>
                            <input type="number" class="form-control" id="driverAllowance_ID" required
                            name="updatedriverAllowance_name" value="{{data.driver_allowance}}"/><br />
                            
                            <label for="image" class="col-form-label">Car Image</label>
                            <input type="file" class="form-control" id="carImage_ID" name="updatecarImage_name" /><br />

                            {% if data.car_image %}
                                <div class="text-center">
                                    <img src="{{ data.car_image.url }}" alt="Current Image"
                                        style="width: 200px; height: 100px; border: 1px solid black;"><br />
                                </div>
                                {% endif %}

                            <div class="modal-footer" style="margin-bottom: -36px; margin-right: -24px">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
     {% endfor %}
     <!-- Update Model End -->

    {% include "dash/templates/includes/footer.html" %}


      <!-- Specific JS goes HERE --> 
  {% block javascripts %}

  {% comment %} <script>
    // Function to automatically dismiss messages after 2 seconds
    document.addEventListener(function () {
        const divIds = ['headingname11', 'headingname21']; // Add more IDs as needed

        for (const divId of divIds) {
            CKEDITOR.replace(divId);
        }
    });
  </script> {% endcomment %}
  
  
  {% endblock javascripts %}


</div>

{% endblock content %}